.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: orange;
  color: cornsilk;
  padding: 2px 0px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.note {
  width: 200px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  margin: 16px;
}
.submitButton {
  padding: 10px 15px;
  margin: 10px auto 10px auto;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: 300;
  display: block;
}
input {
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: lightgray;
}

.footer {
  bottom: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

